
    

<form class="form-signin" action="/usuarios/login" method="POST">
    <div class="input-group mb-3">
      <h1 class="h3 mb-3 font-weight-normal">Entrar no sistema</h1>
      <hr /> 
    </div>  

    <div class="input-group mb-3">
        <input type="text" class="form-control" id="inputEmail" name="inputEmail" placeholder="E-mail" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">@example.com</span>
        </div>
   </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputPassword">Senha</span>
        </div>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" aria-label="Sizing example input" aria-describedby="inputPassword" >
    </div>

     <div class="input-group mb-3">
        <button class="btn btn-lg btn-primary" type="submit">Logar</button>
     </div>
  
</form>