<div class="card border-light mb-3">
  <div class="card-body">
    <h3 class="card-title">{{postagens.titulo}}</h3>
    <p class="card-text">{{postagens.conteudo}}</p>
    <p class="card-text text-muted"><strong>Data de publicação:</strong> <small>{{postagens.data}}</small></p>
  </div>
</div>